.accordion_section {
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: rgb(247, 230, 230);
    color: rgb(38, 3, 94);
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
    background-color: rgb(175, 84, 84);
}

.accordion_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 22px;
    font-variant: small-caps; 
    transition: transform 0.6s ease;
    text-align: left;
    text-decoration: aqua;
    
}

.accordion_icon {
    transition: transform 0.6s easer;
}


.rotate {
    transform: rotate(90deg);
}

.accordion_content {
    background-color: rgb(198, 223, 236);
    overflow: hidden;
    transition: max-height 0.6s ease;
    
}

.accordion_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 18px;
    font-variant: small-caps;
}