

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blanchedalmond;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  opacity: 0.4;
}

html body {
  background-image: url('./assets/images/blueRidgeHero1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.formfield {
  opacity: 0.2;
  font-weight: bold;
  font-size: 15;
  font-family: 'Verdana';
  color: black;
}

.menuSegment {
  opacity: 0.5;
}

input[type='text'] {
  color: rgb(230, 215, 245);
}

.formlabel {
  font-family: 'Futura';
  font-weight: 'bold';
  font-size: 14;
  color: '#efe0ff';
  text-shadow: 2px;
  
}


.container {
  margin-top: 4em;
  word-spacing: 2px;
  
}

.aboutDiv {
  text-align: center;
  display: flex;
  padding-top: 40px;
  align-items: center;
  align-items: center;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
